.section__head {
    display: flex;
    justify-content: center;
    width: 100%;
    &__image {
        position: absolute; z-index: -1;
        img {
            width: 100%;
            height: 600px;
            object-fit: cover;
            object-position: center top;
        }
        &::after {
            display: block;
            position: absolute; z-index: 4;
            content: "";
            top: 0; bottom: 0;
            left: 0; right: 0;
            background: linear-gradient(rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.1) 40%);
        }

    }
}

.sec__head {
    max-width: 1140px; min-width: 325px;
    width: 90%;
    display: flex;
    justify-content: center;
    &__navi {
        width: 100%;
    }
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; height: 130px;
    &__logo {
        position: relative; z-index: 3;
    }
    &__link {
        display: flex;
        justify-content: space-between;
        width: 380px;
        font-family: "Alata", sans-serif;
        a {
            font-size: 1em;
            color: white;
        }
    }
    &__menu {
        position: relative; z-index: 3;
        display: none;
        cursor: pointer;
        span {
            display: block;
            width: 26px;
            height: 3px;
            background: white;
            margin: 5px 0;
            transition: 150ms ease-in-out;
        }
    }
    &__menu.open {
        span {
            margin: 0;
        }
        & span:nth-child(1) {
            transform: translateY(3px) rotate(45deg);
        }
        & span:nth-child(2) {
            opacity: 0;
        }
        & span:nth-child(3) {
            transform: translateY(-3px) rotate(-45deg);
        }
    }
}
// MENU M<ENU MENU MENU MENU
.nav__menu {
    position: absolute; z-index: 2;
    top: 0; bottom: 0;
    left: 0; right: 0;
    height: 0;
    justify-self: center;
    background: black;
    display: none;
    justify-content: center;
    transition: 350ms ease-in-out;
    div {
        display: none; opacity: 0;
        flex-direction: column;
        justify-content: center;
        margin-top: 130px;
        min-width: 325px; max-width: 1140px;
        width: 90%;
        margin-bottom: 100px;
        transition: 250ms ease;
        a {
            margin: 10px 0;
            font-family: "Josefin Sans", sans-serif;
            font-size: 1.75em;
            font-weight: 300;
            text-transform: uppercase;
            color: white;
            opacity: 0.85;
        }
    }
}

.title__container {
    width: max-content;
    margin-top: 80px;
    padding: 30px 100px 20px 30px;
    border: 2px solid white;
    h1 {
        color: white;
        font-size: 4em;
        font-weight: 300;
        text-transform: uppercase;
        font-family: "Josefin Sans", sans-serif;
    }
}

.section__footer {
    display: flex;
    justify-content: center;
    width: 100%; height: 180px;
    background: black;
}


.sec__footer {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-width: 350px; max-width: 1140px;
    width: 90%;
    &__logo {
        display: flex;
        align-items: center;
    }
    &__text {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: white;
        opacity: 0.5;
        letter-spacing: 0.5px;
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img {
            margin-left: 15px;
            width: 20px; height: 20px;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        a { 
            font-family: "Alata", sans-serif;
            font-size: 1em;
            letter-spacing: 0.5px;
            color: white;
        }
    }
}

@media screen and (max-width: 768px) {
    .nav__container {
        &__link {
            display: none;
        }
        &__menu {
            display: initial;
        }
    }

    .section__footer {
        height: max-content;
    }
    .sec__footer {
        grid-template-columns: minmax(325px, 1fr);
        grid-template-rows: auto;
        & > * {
            justify-content: center;
            width: initial;
            align-items: initial;
            margin: 20px 0;
        }
        &__link {
            width: initial;
            margin-bottom: 30px;
            a {
                margin: 0 10px;
            }
        }
        &__icon {
            grid-row: 3;
        }
    }
}

@media (hover:hover) {
    .nav__container {
        &__link {
            & > a::after {
                margin-top: 2px ;
                display: block;
                content: "";
                background: white;
                width: 0; height: 2px;
                transition: 200ms ease-in-out;
            }
            & > a:hover::after {
                width: 100%;
            }
        }
    }
    .sec__footer {
        &__link {
            & > a::after {
                margin-top: 2px;
                display: block;
                content: "";
                background: white;
                width: 0; height: 2px;
                transition: 200ms ease-in-out;
            }
            & > a:hover::after {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .title__container {
        transition: 150ms ease;
        width: 100%;
    }
}


@media screen and (max-width: 550px) {
    .title__container {
        padding: 25px;
        h1 {
            font-size: 3em;
        }
    }
}


@media screen and (max-width: 400px) {
    .sec__footer {
        &__link {
            align-items: center;
            flex-direction: column;
            a {
                font-size: 1.125em;
                margin: 10px 0;
            }
        }
    }
}